## Stats701 Homework 2, Winter 2018
### Iteration, Strings, and Lists
### Katherine Wilkinson
#### kswilk@umich.edu

I did not discuss this homework with anyone.

### 1: Fun with Strings

#### 1.1

Palidrome: https://en.wikipedia.org/wiki/Palindrome

Write a function called is_palindrome, which takes a string as its only argument, and returns a Boolean.

In [547]:
def is_palidrome(string):
    strg = string.lower()
    strg = strg.replace(' ' ,'')
    
    
    for k in range(0,len(strg)):
        if strg[k]==strg[-k-1]:
            return(True)
        return(False)

In [548]:
is_palidrome('goats are cool')

False

In [549]:
is_palidrome(' GO  hang a salami Im a lasagna HOG')

True

In [553]:
is_palidrome('kayak')

True

#### 1.2

Write a function is_abecedarian, which takes a single argument in the form of a string and returns True if the argument is abecedarian and False otherwise.

In [1004]:
def is_abecedarian(strg):
    strg_n = strg[:]
    strg_n = strg_n.lower()
    strg_n = strg_n.replace(' ' ,'')

    if len(strg_n) <= 1:
            return(True)
    else:
        
        for k in range(0,len(strg_n)-1):
            if strg_n[k] <= strg_n[k+1]:
                strg_n = strg_n[k+1:]
                #return(strg)
                return(is_abecedarian(strg_n))
            else:
                return(False)
    return(False)

In [1013]:
test = 'A dder'

In [1014]:
is_abecedarian(test)

True

In [1015]:
test

'A dder'

In [1016]:
is_abecedarian('A dder')

True

In [570]:
is_abecedarian(' abC xy Z')

True

In [571]:
is_abecedarian('goat')

False

#### 1.3

Write a function called count_vowels that takes a single string as an argument and
returns a non-negative integer, the number of vowels that appeared in the string.
For the purposes of this question, the vowels are the letters “a e i o u”.

In [622]:
def count_vowels(strg):
    strg = strg.lower()
    k = 0
    for c in strg:
        if c == 'a':
            k = k + 1
        if c == 'e':
            k = k + 1
        if c == 'i':
            k = k + 1
        if c == 'o':
            k = k + 1
        if c == 'u':
            k = k +1
    return(k)

In [626]:
count_vowels('Goats are the coolest animals ever')

13

In [624]:
count_vowels('bAnaNa')

3

In [628]:
count_vowels('Thyme')

1

### 2. Fun with Lists

#### 2.1

Write a function list_reverse that takes a list as an argument and returns that list,
reversed.

In [768]:
#def list_reverse(lst):
#    if type(lst) != list:
#        return ('Opps! Input must be a list!')
#    lst.reverse()
#    return(lst)

def list_reverse(lst):
    if type(lst) != list:
        return ('Opps! Input must be a list!')
    
    lst_rv = []
    #while len(lst_rv) != len(lst):
    for i in range(1,len(lst)+1):
        lst_rv.append(lst[-i])
    return(lst_rv)

In [770]:
list_reverse(string)

'Opps! Input must be a list!'

In [761]:
lst1 = ['goat', 1, 3,'apple']

In [735]:
lst1.remove(1)

In [736]:
lst1

['apple', 3, 'goat']

In [756]:
lst1[-1]

'apple'

In [771]:
list_reverse(lst1)

['apple', 3, 1, 'goat']

In [772]:
list_reverse([1,2,3,4,['goat','sheep','dog'],3.14])

[3.14, ['goat', 'sheep', 'dog'], 4, 3, 2, 1]

In [773]:
lst1

['goat', 1, 3, 'apple']

#### 2.2 

Write a function called binary_search
that takes two arguments, a sorted list of integers t and an integer elmt, and returns
True if elmt appears in list t and False otherwise

In [1430]:
def sort_list(t):
    t_sorted = []
    tnew = t[:]
    while len(tnew) > 0:
        tmin = tnew[0]
        for i in tnew:
            if i < tmin:
                tmin = i
        tnew.remove(tmin)
        t_sorted.append(tmin)
        
    
    return(t_sorted)

def binary_search(t, elmt):
    
    #TO DO: make function to sort list t
    #t_sorted = sort_list(t)
    #return(t_sorted, type(t_sorted))
    l = len(t)
    if len(t) == 0:
        return(False)
    if len(t) <= 2:
        if elmt in t:
            return(True)
        else:
            return(False)
    if elmt == t[int(len(t)/2)]:
        return(True)
    else:
        if elmt < t[int(len(t)/2)]:
            return(binary_search(t[:int(len(t)/2)],elmt))
        else:
            return(binary_search(t[int(len(t)/2):],elmt))

In [1404]:
t= [5,3,4,2,1]

In [937]:
t[:int(len(t)/2)]

[]

In [1406]:
binary_search([1,2,3,2],3)

True

In [1407]:
longlist = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [1429]:
binary_search(longlist, longlist[5])

True

In [1432]:
import random
y = list(range(0,10000))
r = random.sample(y,100)

In [1435]:
binary_search(sort_list(r), r[5])

True

In [1434]:
r[:5]

[9417, 8853, 9423, 8312, 781]

### 3 More Fun with Strings

#### 3.1

Write a function called char_hist that takes a string as its argument and returns a
dictionary whose keys are characters and values are the number of times each character
appeared in the input.

In [1436]:
def count(strg, letter):
    cnt = 0 
    for c in strg:
        if c == letter:
            cnt = cnt + 1
    return(cnt)

def char_hist(strg):
    strg_new = strg[:]
    strg_new = strg_new.lower()
    
    d= {}  #create empty dictionary
    for i in strg_new:  #loop through all elements in string
        
        
        d[i] = count(strg_new, i) #add count of each elmnt and elmnt to dictionary
    return(d)  #return filled dictionary

In [1437]:
char_hist('goao tattat')

{' ': 1, 'a': 3, 'g': 1, 'o': 2, 't': 4}

In [1438]:
x = 'Goats are super cool yo'

In [1442]:
d = char_hist(x)

In [1445]:
d[' ']

4

#### 3.2

Write a function called bigram_hist that takes a string as its argument and returns
a dictionary whose keys are 2-tuples of characters and values are the number of times
that pair of characters appeared in the string

In [1448]:
def count(strg, letter):
    cnt = 0 
    for c in strg:
        if c == letter:
            cnt = cnt + 1
    return(cnt)

def bigram_hist(strg):
    strg_new = strg[:]
    strg_new = strg_new.lower()
    
    x = {}
    for i in range(0,len(strg_new)-1):
        x[strg_new[i] + strg_new[i+1]] = strg_new.count(strg_new[i] + 
                                                        strg_new[i+1])
    return(x)

In [1450]:
x = 'goatgoat'

In [1451]:
bigram_hist(x)

{'at': 2, 'go': 2, 'oa': 2, 'tg': 1}

In [1158]:
bigram_hist('mississippi')

{'ip': 1, 'is': 2, 'mi': 1, 'pi': 1, 'pp': 1, 'si': 2, 'ss': 2}

### Problem 4: Tuples vs Vectors

#### 4.1
Implement a function called vec_scalar_mult, which takes two arguments: a tuple
of numbers (floats and/or integers) t and a number (float or integer) s and returns
a tuple of the same length as t, with its entries equal to the entries of t multiplied
by s. That is, vec_scalar_mult implements multiplication of a vector by a scalar.

In [1607]:
def tuple_check(t):
    if type(t) != tuple:
        return(False)
    else:
        return(True)

def tuple_check_elm(t):
    for i in t:
        if type(i) != int and type(i) != float:
            return(False)
        else:
            return(True)

In [1609]:
tuple_check_elm(my_mx[1])

True

In [1452]:
def vec_scalar_mult(t, s):
    if type(t) != tuple:
        return('TypeError: 1st input must be tuple')
    else:
        for i in t:
            if type(i) != int and type(i) != float:
                return('TypeError: tuple values must be integer or float')
    
    if type(s) != int and type(s) != float:
        return('TypeError: 2nd input must be integer or float')
    else:
        l_sm = list()
        for i in t:
            l_sm.append(i*s)
        t_sm = tuple(l_sm)
        return(t_sm)

In [1454]:
t = tuple(range(10))

In [1455]:
vec_scalar_mult(t,2)

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

In [1243]:
t2 = (1,19,3)

#### 4.2
 Implement a function called vec_inner_product which takes two “vectors” (i.e.,
tuples of floats) as its inputs and outputs a float corresponding to the inner product
of these two vectors

In [1456]:
def vec_inner_product(t1, t2):
    if type(t1) != tuple or type(t2) != tuple:
        return('TypeError: input must be tuples')
    else:
        if len(t1) != len(t2):
            return('ValueError: tuples must be same length!')
    p = []
    for i in range(0,len(t1)):
        #for j in range(0,len(t2)-1):
        p.append(t1[i]*t2[i])
    #x=sum(p)
    
    #for k in range(0,len(p)-1):
        #x = sum(p)
        #print(p[k])
    x = float(sum(p))
    return(x)

In [1458]:
t1 = (1,2,3,7.5)

In [1459]:
t2 = (3,4.32,5,7)

In [1460]:
vec_inner_product(t1,t2)

79.14

In [1461]:
t3 = tuple(range(15))

In [1465]:
t4 = tuple(range(5,20))

In [1466]:
vec_inner_product(t3,t4)

1540.0

#### 4.3

Write a function check_valid_mx that takes a single argument and returns a Boolean,
which is True if the given argument is a tuple that validly represents a matrix as
described above, and returns False otherwise. A valid matrix will be a tuple of
tuples such that
- Every element of the tuple is itself a tuple,
- each of these tuples is the same length, and
- every element of each of these tuples is a number (i.e., a float or integer).

In [ ]:
def tuple_check(t):
    if type(t) != tuple:
        return(False)
    else:
        return(True)

def tuple_check_elm(t):
    for i in t:
        if type(i) != int and type(i) != float:
            return(False)
        #else:
         #   return(False)

def tuple_check_len(t1,t2):
    if len(t1) == len(t2):
        return(True)
    else:
        return(False)

In [ ]:
def check_valid_mx(m):
    if tuple_check(m) == False:
        return(False)
    else:
        
        for i in m:
            if tuple_check(i) == False:
                return(False)
    
        for k in range(0,len(m)-1):
            if tuple_check_len(m[k],m[k+1]) == False:
                return(False)
        
        for tup in m:
            if tuple_check_elm(tup) == False:
                return(False)
        
        return(True)

In [ ]:
my_mx = ((1,2,9),(3,9,84),(5,9,6,5))

In [ ]:
check_valid_mx(my_mx)